body {
/*  font-family: sans-serif;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;*/
  font-family:'DejaVu Sans',sans-serif;                               
  font-weight: 100;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
