/* I pulled some of this from a style sheet in a theme, but I've 
 * forgotten where from ! If it looks familiar, lemme know ... 
 * Maybe the code parts might have a clue? I don't remember writing
 * those. */

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5em;
}

#disqus_thread {
    clear: both;
    margin-top: 100px;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

footer { 
    text-align: center; 
    margin-top: 20px; 
}
footer a {
    padding: 4px;
    margin: 4px;
    line-height:2em;
    border: 1px black solid;
    box-shadow: 2px 2px black;
}

.title { font-size: 1.8em; font-style: bold; clear:right; }

hr { border-style: dashed; color: #aaa; }

/*
pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }
*/

main img, main video { 
    max-width: 100%; 
    display: block;
    margin-left: auto; margin-right: auto;
}

blockquote {
    background: #eee;
    border-left: 5px solid #bbb;
}

/**/

footer a { text-decoration:none; }

a:hover {
    text-decoration: underline;
    background: none;
}

.tags a {
    text-decoration:none;
    background-color: #eee;
    color:#000;
    float:right;
    padding:0.2em;
}
.tags a:hover {
    background-color: #000;
    color:#fff;
}

/*
.menu li #home:hover {
    background-color: #fc8d62;
}*/
.menu li #about { background-color: #a6d854; }
.menu li #about:hover { background-color: #ffa0ff; }
.menu li #posts { background-color: #a0ffff; }
.menu li #posts:hover { background-color: #ffff99; }

.menu { 
    text-align: center; 
    font-weight: 400;
}
.menu li { 
    display: inline-block; 
    margin-bottom: 20px;
}
.menu a {
    text-decoration: none;
    padding: 8px;
    margin: 2px;
    color: #000;
    background: #eee;
    box-shadow: 2px 2px;
}

/**/

span.clearer {
    display:block;
    clear:both;
    height:0em;
    width:100%;
}
ul#link-list li span.date {
    float:right;
    clear:both;
}
ul#link-list li {
    /*list-style:none;*/
}

ul.terms li {
    list-style:none;
}

/* fancy menu fading stuff */

/*
.menu { opacity:.5; animation-duration:3s; animation-name:fadeout;}
.menu:hover { opacity:1; animation-duration:1s; animation-name:fadein;}
footer { opacity:.5; animation-duration:3s; animation-name:fadeout;}
footer:hover { opacity:1; animation-duration:1s; animation-name:fadein;}
.mainpage { opacity:1; animation-name:none; }
.mainpage:hover { opacity:1; animation-name:none;}
*/
@keyframes fadein {
    from { opacity:0.5; }
    to { opacity:1.0; }
}
@keyframes fadeout {
    from { opacity:1.0; }
    to { opacity:0.5; }
}

/* .mainpage li a#about { background-color:pink; } */

