html {
    font-family: 'DejaVu Sans',sans-serif;
    font-weight: 100;
    line-height: 1.5em;
}

code { font-family: 'Lucida Console', Monaco, monospace; }

#disqus_thread { clear: both; margin-top: 100px; }

body {
    max-width: 640px;
    margin: auto;
}

body.terms { max-width: 1280px; margin: auto; }

hr { border-style: dashed; color: #aaa; }

/* footer contact info */
footer.contact {
    clear:both;
    max-width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
footer.contact a {
    margin: 1em;
    padding: 0.2em;
    background: #f6f6f6;
    border-radius: 8px;
}

/* navigation menu */
nav.menu {
    width: 100%;
    margin: auto;
    padding: 1em;
}
nav.menu > ul {
    display: block;
    margin: 1em;
    padding: 1em;
}
nav.menu > ul > a > li {
    list-style-type: none;
}
nav.menu > ul > a {
    float: left;
    padding: 1em;
    margin: 0.2em;
    background: #f6f6f6;
    border-radius: 16px;
}
hr { color: #eee; }
a#home:hover {
    background-color: #fc8d62;
}
a#about:hover {
    background-color: #a6d854;
}
a#posts-pages:hover {
    background-color: #a0ffff;
}
a#posts-by-tags:hover {
    background-color: #ffa0ff;
}
a#links:hover {
    background-color: #ffff99;
}

/* fade */
nav.menu { 
    opacity:.5; animation-duration:3s; animation-name:fadeout;
}
nav.menu:hover { 
    opacity:1; animation-duration:1s; animation-name:fadein;
}
footer.contact { 
    opacity:.5; animation-duration:3s; animation-name:fadeout;
}
footer:hover.contact a { 
    opacity:1; 
    animation: fadeinrainbow linear 1s infinite;
}
/*.mainpage { opacity:1; animation-name:none; }
.mainpage:hover { opacity:1; animation-name:none;}*/
@keyframes fadein {
    from { opacity:0.5; }
    to { opacity:1.0; }
}
@keyframes fadeout {
    from { opacity:1.0; }
    to { opacity:0.5; }
}
@keyframes fadeout {
    from { opacity:1.0; }
    to { opacity:0.5; }
}
@keyframes fadeinrainbow {
    0% { opacity:1.0; background-color:#f00; }
    20% { opacity:1.0; background-color:#ff0; }
    40% { opacity:1.0; background-color:#fff; } 
    60% { opacity:1.0; background-color:#0ff; } 
    80% { opacity:1.0; background-color:#00f; } 
    100% { opacity:1.0; background-color:#000; } 
}

/* posts list */
ul.list {
    list-style-type: none;
}

/* tags list */
ul#tag_list { }
ul#tag_list > li {
    list-style-type: none;
    border: 1px black solid;
    width: 16em;
    margin: 0.5em;
    padding: 0.5em;
    float:left;
}
ul#tag_list > li:hover { background: #f0f0f0;}
ul#tag_list > li > li {
    list-style-type: none;
}

/* texts */
h1 { font-weight: 100; font-size: 1.8em; }
h2 { font-weight: 100; font-size: 1.6em; }
h3 { font-weight: 100; font-size: 1.4em; }
h4 { font-weight: 100; font-size: 1.2em; }
h5 { font-weight: 100; font-size: 1.2em; }
h6 { font-weight: 100; font-size: 1.2em; }

/* main contents */
main img, main video {
    max-width:100%;
    display:block;
    margin:auto;
}

code { 
    background: #fffff9; 
}


