<!DOCTYPE html>                                                                  
<html lang="{{ .Site.LanguageCode }}"> 
    <head>
        {{ block "head" . }}
            {{ partial "head.html" . }}
        {{ end }}
    </head>
    <body class="{{ block "body_class" . }}{{ end }}">
        {{ block "menu" . }}
            {{ partial "menu.html" . }}
        {{ end }}
        {{ block "title" . }}
            {{ if .Title }} <h1 class="title">{{ .Title }}</h1> {{ end }}
        {{ end }}
        {{ block "subtitle" . }}
            {{ if .Params.subtitle }} <span class="subtitle">{{ .Params.subtitle }}</span> {{ end }}
        {{ end }}
        {{ block "content" . }}
            <main>
                {{ .Content }}
            </main>
        {{ end }}
        {{ block "footer" . }}
            {{ partial "foot_contact.html" . }}
        {{ end }}
    </body>
</html>

