{{ partial "header.html" . }}
{{ partial "head_menu.html" . }}

{{if not .IsHome }}
<span class="title">{{ .Title }}</span>
{{ end }}

<!-- this is a list -->

{{ .Content }}

<ul id="link-list">
  {{ range sort (where .Data.Pages "Section" "!=" "") "Date" "desc" }}
  <li>
    <span class="clearer"></span>
    <a href="{{ .URL }}">{{ .Title }}</a>
    {{ if .Params.date }}
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    <!--<span class="date">Last modified {{ .Date.Format "2006-01-02" }}</span>-->
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ partial "foot_contact.html" . }}
{{ partial "footer.html" . }}
