{{ define "content" }}
    <main>
        {{.Content}}
        <ul class="list">
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">
                    {{.Title}} 
                    {{ if eq $.Params.nodate true }}
                    {{ else }}
                        | {{.Date.Format "2006-01-02"}}
                    {{ end }}
                    </a>
            </li>
        {{ end }}
        </ul>
    </main>
{{ end }}

