{{ partial "header.html" . }}
{{ partial "head_menu.html" . }}

<div class="article-meta">
    <span class="title">{{ .Title | markdownify }}</span>
    </br>
    {{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
    {{ if .Params.date }}<span class="date">{{ .Date.Format "2006-01-02" }}</span>{{ end }}
</div>

{{ if (eq .Params.toc "true") }}
    <hr>
    <aside>{{.TableOfContents}}</aside>
{{ end }}

<hr>

<main>
{{ .Content }}
</main>

<hr>

{{ partial "foot_contact.html" . }}
{{ partial "footer.html" . }}
