{{ partial "header.html" . }}
{{ partial "head_menu.html" . }}

<span class="title">{{ .Title }}</span>

<!-- these terms -->

<ul class="terms">
  {{ range $key, $value := .Data.Terms }}
  <li>
    <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}">
      {{ $key }}
    </a>
    ({{ len $value }})
  </li>
  {{ end }}
</ul>

{{ partial "foot_contact.html" . }}
{{ partial "footer.html" . }}
