{{ partial "header.html" . }}
{{ partial "head_menu.html" . }}

{{if not .IsHome }}
<span class="title">{{ lower .Title }}</span>
{{ end }}

{{ .Content }}

<span class="clearer"></span>

<div style="float:left;width:60%;min-width:400px;">
    <ul id="link-list">
        {{ range (where .Data.Pages "Section" "!=" "") }}
        <li>
            <span class="date">{{ .Date.Format "060102" }}</span>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>

<div style="float:right;width:30%;min-width:200px;">
    <ul class="terms">
        {{ range $key, $value := .Site.Taxonomies.tags }} 
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> 
                <span style="float:right;">{{ .Count }}</span></li>
        {{ end }}
    </ul>
</div>

<span class="clearer"></span>

{{ partial "foot_contact.html" . }}
{{ partial "footer.html" . }}

