{{ define "menu" }}
    &nbsp; <br/>
{{ end }}

{{ define "main" }}
<h1 class="title">{{ .Title | markdownify }}</h1>
</br>
{{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
{{ if .Params.date }}<span class="date">Last modified {{ .Date.Format "2006-01-02" }}</span>{{ end }}

{{ $taxo := "directors" }} <!-- Use the plural form here -->
{{ with .Param $taxo }}
    <strong>Director{{ if gt (len .) 1 }}s{{ end }}:</strong>
    {{ range $index, $director := . }}
        {{- if gt $index 0 }}, {{ end -}}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
            <a href="{{ .Permalink }}">{{ $director }}</a>
        {{- end -}}
    {{- end -}}
{{ end }}

<hr>
{{ if .Params.toc }}
    <aside>{{.TableOfContents}}</aside>
    <hr>
{{ end }}

<div>
{{ .Content }}
</div>
{{ end }}

<ul>
    {{ range .Site.Taxonomies.series.golang }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>

{{ define "footer" }}
    {{ partial "foot_contact.html" . }}
    {{ partial "menu.html" . }}
    {{ partial "disqus.html" . }}
{{ end }}

