{{ define "menu" }}
    &nbsp; <br/>
{{ end }}

{{ define "subtitle" }}
    {{ if .Params.subtitle }}<span class="subtitle">{{ .Params.subtitle }}</span> {{ end }}
    {{ if .Params.author }}<span class="author">{{ .Params.author }}</span>{{ end }}
    {{ if .Params.date }}<span class="date">Last modified {{ .Date.Format "2006-01-02" }}</span>{{ end }}
{{ end }}


{{ define "content" }}

    <hr>
    {{ if .Params.toc }}
        <aside>{{.TableOfContents}}</aside>
        <hr>
    {{ end }}

    <main>
        {{ .Content }}
    </main>

{{ end }}


{{ define "footer" }}
    {{ partial "menu.html" . }}
    {{ partial "foot_contact.html" . }}
    {{ partial "disqus.html" . }}
{{ end }}

