        <nav>
        <ul class="menu"> 
<!-- trimming, this business is for doing the fade out menu thing
{{if not .IsHome }}
{{end}}
{{if .IsHome }}
        <ul class="menu mainpage"> 
{{end}}
-->

            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}" id="{{ .Name }}">{{ .Name }}</a></li>
            {{ end }}

        </ul>
        </nav>
