{{ partial "header.html" . }}
{{ partial "head_menu.html" . }}

<!-- 
    This takes `things_to_fold` from the header, orders them by the
    key `order`, displays the `name`, then just rattles off the
    `contents` with a javascript to open close them based on clicks.
-->

<style type="text/css">
li.folder { 
    width: 100%
}
li.folder div { 
    margin-bottom:1em;
    padding:0.2em;
    overflow: hidden; 
    max-height: 5.5em; 
    background: #ffd;
}
/*@media print {.texter {display:block;}}*/
</style>
<script language="JavaScript" type="text/javascript">
function openClose(id) { 
    if (document.getElementById(id).style.maxHeight == "100%") { 
        document.getElementById(id).style.maxHeight = "5.5em" 
        document.getElementById(id).style.background = "#dff" 
        document.getElementById(id).style.border = "none" 
    } else { 
        document.getElementById(id).style.maxHeight = "100%" 
        document.getElementById(id).style.background = "#fff" 
        document.getElementById(id).style.border = "1px solid" 
    } 
 } 
</script>

<div class="article-meta">
<span class="title">{{ .Title | markdownify }}</span>
</br>
{{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
{{ if .Params.date }}<span class="date">{{ .Date.Format "2006-01-02" }}</span>{{ end }}
</div>

{{ if (eq .Params.toc "true") }}
    <hr>
    <aside>{{.TableOfContents}}</aside>
{{ end }}

<hr>

<main>
{{ .Content }}
<ul>
    {{ range sort .Params.things_to_fold "order" }}
    <li>
        <h1>{{ .name }}</h1>
        <ul>
        {{ range .contents }}
            <li onclick="openClose('{{ substr . 0 40 | urlize }}')" 
                class="folder" >
            <div id="{{ substr . 0 40 | urlize }}">
            {{ . | markdownify }}
            </div>
            </li>
        {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
</main>

<hr>

{{ partial "head_menu.html" . }}
<!--{{ partial "foot_contact.html" . }}-->

<!--- disqus --->
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/**/
var disqus_config = function () {
this.page.url = "{{ .Site.BaseURL }}{{.URL }}" ;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ .Title | markdownify }}" ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
/**/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rhesis.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!--- disqus --->

{{ partial "footer.html" . }}
